#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color:aliceblue;
}

#locomotion {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 10px;
    padding: 10px;
    height: auto;
    width: 280px;
    background-color: #2e2e2e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}